script(type="text/javascript", src="./scripts/libs/jquery.js")
script(type="text/javascript", src="./scripts/libs/angular.js")
script(type="text/javascript", src="./scripts/libs/angular-resource.js")
script(type="text/javascript", src="./scripts/app.js")

if livereload
    script(type="text/javascript") document.write('<script src="//'+location.host.split(':')[0]+':#{livereloadPort}/livereload.js"></'+ 'script>')
